body {
    padding: 10%;

    background: #404040;
    text-align: center;
    font-family: sans-serif;
    color: #C0C0C0;
    min-width: 320px;
}

a {
    color: #C0C0C0;
}

div {
    padding: 8px;
}

input {
    border: solid 2px #808080;
}

#puzzle {
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    -ms-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;
    padding: 0px;
    height: 80px;
    width: 100%;
    position: relative;
    display: block;
}

#puzzle:not(.active):hover #title, 
#puzzle:not(.active):focus #title {
    -wekbit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

#puzzle:not(.active):hover > div:not(:last-child), 
#puzzle:not(.active):focus > div:not(:last-child) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#title,#puzzle > div:not(:last-child) {
    display: block;
    height: 40px;
    width: 100%;
    font-family: cursive;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#title {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    background-color: #404040;
    margin: 0px;
    padding: 4px;
}

#puzzle > div:not(:last-child) {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    background-color: transparent;
    padding: 4px;
    font-family: cursive;
}

#go:active{
    background:lightblue;
}